streamlit
numpy
pandas
scikit-learn
matplotlib
seaborn
nltk
tqdm
joblib
spacy
requests
PyPDF2
pytesseract
pdf2image
transformers
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

